.bg-blurred {
    background-image: url('./img/bg_blurred.png');
    background-attachment: fixed;
    background-origin: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

html, body {
    height: 100%;
    margin: 0;
}

#root, #root>div {
    min-height: 100%;
}