
.d-flex div{
    padding: 1rem;
    background-color: #1ba6a3;
    border: 1px solid black;
    color: black;
    text-align: left;
  }

  .d-flex2 div{
    padding: 1rem;
    background-color:white;
    border: 1px solid black;
    color: black;
    text-align: left;
  }

  span:after{
    content: '\a' ; 
    white-space: pre;  
   }

.main-bg{
    background-image: url("./img/banner01.jpg");
    height: 100vh;
    color: white;
}

.cm-top{
    margin-top: 25vh;
}

.elm-top{
    margin-top: 5%;
}

