
.d-flex div{
    padding: 1rem;
    background-color: #33b5e5;
    border: 0px solid #fff;
    color: #fff;
    text-align: center;
  }

  .d-flex2 div{
    padding: 1rem;
    background-color:white;
    border: 0px solid black;
    color: black;
    text-align: left;
  }

  span:after{
    content: '\a' ; 
    white-space: pre;  
   }

.main-bg{
    background-image: url("./img/banner01.jpg");
    height: 100vh;
    color: white;
}

.cm-top{
    margin-top: 25vh;
}

.elm-top{
    margin-top: 5%;
}

.theme-bg-color{
    background-color: #1ba6a3;
  
  }
  
  .shadow-below{
    box-shadow: 0px 2px 0.5px 0px #000000;
  }
  
  .list-style-none{
    list-style: none;
  }